@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.loginpop{
    position: absolute;
    z-index: 99;
    top: 30px;
    left: 570px;
}
.loginpop .login-page {
    position: relative;
    width: 360px;
    /*padding: 8% 0 0;*/
    /*margin: auto;*/
    margin: 20px auto;
}
#close.loginclose{
    position: absolute;
    right: 10px;
    z-index: 99;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top:20px;
}
.loginpop .form {
    position: relative;
    z-index: 99;
    background: #fff;
    max-width: 360px;
    /* max-height: 390px; */
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.loginpop .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.loginpop .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.loginpop .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.loginpop .form .message {
    margin: 10px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.loginpop .form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.loginpop .form .register-form {
    display: none;
}
.loginpop .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.loginpop .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.loginpop .container .info {
    margin: 50px auto;
    text-align: center;
}
.loginpop .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.loginpop .container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.loginpop .container .info span a {
    color: #000000;
    text-decoration: none;
}
.loginpop .container .info span .fa {
    color: #EF3B3A;
}
