<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.rentcar.mapper.CityMapper">

    <select id="AllCity" resultType="com.fh.rentcar.pojo.City">
        select * from citys
    </select>

    <select id="getCityName" resultType="com.fh.rentcar.pojo.City">
        select * from citys where name = #{cname}
    </select>
    <select id="getCityId" resultType="com.fh.rentcar.pojo.City">
        select * from citys where id = #{cid}
    </select>

<!--    根据城市id 查街道-->
    <select id="getStreetId" resultType="com.fh.rentcar.pojo.Street">
        select * from street where city_id = #{id}
    </select>

</mapper>