<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.rentcar.mapper.OrderMapper">

    <insert id="addOrder" parameterType="com.fh.rentcar.pojo.OrderDetail">
        insert into
        order_details(car_id,pickcartime,returncartime,pickaddress,shop_id,renttime,uid,rentprice,deposit,rentfrom,renttype,ordertime,orderstatus)
        values (#{car_id},#{pickcartime},#{returncartime},#{pickaddress},#{shop_id},#{renttime},#{uid},#{rentprice},#{deposit},#{rentfrom},#{renttype},#{ordertime},#{orderstatus})
    </insert>


</mapper>